.footer{

    $self: &;

    background-color: $babyblue;
    display: flex;
    flex-direction: column;
    gap: 64px;
    color: $rhino;
    
    @media(min-width:769px){
        flex-direction:row;
        gap: 80px;
    }

    &__left{
        width:100%;
        text-align:center;

        @media(min-width:769px){
            width:85px;
            text-align:left;
        }
    }

    &__right{
        width:100%;
        display:flex;
        flex-wrap: wrap;
        gap: 16px;

        @media(min-width:769px){
            width:calc(100% - 85px);
        }

        @media(min-width:992px){
            flex-wrap: nowrap;
        }
    }

    ul{
        display: flex;
        flex-wrap:wrap;
        gap: 16px;
        width: 100%;
        justify-content: space-between;

        @media(min-width:992px){
            flex-wrap:nowrap;
        }

        li{
            width:calc(100%/2 - 11px);
            font-size: 14px;
            line-height: 18px;

            @media(min-width:769px){
                width:calc(100%/3 - 11px);
            }

            @media(min-width:992px){
                width:calc(100%/6);
            }

            & > *{
                width: 100%;
                display: block;
                margin: 0 0 8px 0;
            }

            .cols{

                display:flex;
                margin:0;

                label{
                    color: $havelock;
                }

                & > div {

                    width:100%;
                
                    & > *{
                        width: 100%;
                        display: block;
                        margin: 0 0 8px 0;
                    }

                    &:last-child{

                         & > *{
                            padding: 0 0 0 12px;

                            @media(min-width:768px){
                                padding: 0 0 0 0;
                            }
                        }
                    }
                }
            }

            &.large{
                width:100%;

                @media(min-width:769px){
                    width:calc(100%/3 - 11px);
                }

                @media(min-width:992px){
                    width:30%;
                }
            }

            strong{
                font-size: 16px;
                line-height:20px;
            }
        }
    }
} 